<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {{asset "invoice-styles.css" "utf8"}}
            .service-info {
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
         <div class="input-value">
           Name: {{inputValue}}
        </div>
        {{#each data}}
        <div class="invoice-box">
            <h2>{{this.cajero}}</h2>
            <div class="title">
                <img src="{{asset "invoice-logo2.png" "dataURI"}}" />
            </div>
            {{#each this.servicios}}
            <div class="service-info">
                Servicio: {{this.servicio}}, Fecha: {{this.Fecha}}, Estado: {{this.Estado}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </body>
</html>